google_user = "{{ google_user }}"
google_password = "{{ google_password }}"
meteor_db_name = "{{ meteor_db_name }}"
meteor_mongo_port = {{ meteor_mongo_port }}
fields_spreadsheet_id = "{{ fields_spreadsheet_id }}"
events_spreadsheet_id = "{{ events_spreadsheet_id }}"
zotero_library_id = '{{ zotero_library_id }}'
zotero_library_type='{{ zotero_library_type }}'
zotero_api_key = '{{ zotero_api_key }}'
