[program:rana]
command=node {{ rana_prefix }}/bundle/main.js
environment=METEOR_DB_NAME="{{ meteor_db_name }}",MONGO_URL="{{ meteor_mongo }}",PORT="{{ meteor_port }}",ROOT_URL="{{ apache_url }}"
directory={{ rana_prefix }}
user={{ rana_user }}
numprocs=1
autostart=true
autorestart=true
startsecs=10
logfile_maxbytes=150MB
logfile_backups=10
loglevel=info
